@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #F8F6FF;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease;
}
